In [2]:
import nltk
import gensim
import json
import re
import numpy as np
from nltk.corpus import stopwords

In [2]:
#loading pretrained word2vec model
model = gensim.models.KeyedVectors.load_word2vec_format('./GoogleNews-vectors-negative300.bin', binary=True)

In [4]:
with open('NewsCategoryData.json', 'r') as f:
    news_data = json.load(f)

In [4]:
news_data['articles'][0]

{'short_description': 'She left her husband. He killed their children. Just another day in America.',
 'headline': 'There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV',
 'date': '2018-05-26',
 'link': 'https://www.huffingtonpost.com/entry/texas-amanda-painter-mass-shooting_us_5b081ab4e4b0802d69caad89',
 'authors': 'Melissa Jeltsen',
 'category': 'CRIME'}

In [7]:
#Making a list of strings containing short descrption and headline and preprocessing them. 
news_description_list = []
for news in news_data['articles']:
    str_to_append = news['short_description'] + news['headline']
    str_to_append = re.sub(r"\W"," ",str_to_append)
    str_to_append = re.sub(r"\."," ",str_to_append)
    str_to_append = re.sub(r"\s+[a-z0-9]\s+"," ",str_to_append)
    str_to_append = re.sub(r"\s+"," ",str_to_append)
    str_to_append = str_to_append.lower()
    news_description_list.append(str_to_append)

In [10]:
#removing stopwords
filtered_news_list = []
i=0
for news in news_description_list:
    sentence = []
    words = nltk.word_tokenize(news)
    for word in words:
        if word not in stopwords.words('english'):
            sentence.append(word)
    if i%1000 == 0: 
        print(i/1000)
    filtered_news_list.append(sentence)
    i+=1

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
93.0
94.0
95.0
96.0
97.0
98.0
99.0
100.0
101.0
102.0
103.0
104.0
105.0
106.0
107.0
108.0
109.0
110.0
111.0
112.0
113.0
114.0
115.0
116.0
117.0
118.0
119.0
120.0
121.0
122.0
123.0
124.0

In [1]:
#Lemmatizing

In [5]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [9]:
lmz_news_list = []
for news in filtered_news_list:
    sentence = []
    for word in news:
        new_word = lemmatizer.lemmatize(word)
        sentence.append(new_word)
    lmz_news_list.append(sentence)

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
93.0
94.0
95.0
96.0
97.0
98.0
99.0
100.0
101.0
102.0
103.0
104.0
105.0
106.0
107.0
108.0
109.0
110.0
111.0
112.0
113.0
114.0
115.0
116.0
117.0
118.0
119.0
120.0
121.0
122.0
123.0
124.0

In [3]:
#Tokenizing
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

Using TensorFlow backend.

In [7]:
tkz = Tokenizer(num_words=50000)

In [8]:
tkz.fit_on_texts(lmz_news_list)

In [9]:
tkz_sequences = tkz.texts_to_sequences(lmz_news_list)

In [10]:
X_data = pad_sequences(tkz_sequences,maxlen=40,padding='post',truncating='post')

In [11]:
word_index = tkz.word_index

In [12]:
len(word_index)

67585

In [57]:
X_data[23484]

array([ 516,   61,  127,  323,   63,   33, 3890, 3789,   13, 4403,    2,
        234, 1376, 1674, 2899, 8415,  164, 1163,   76,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0], dtype=int32)

In [13]:
#Building the embedding matrix
embedding_matrix = np.zeros((len(word_index) + 1, 300))
for word,i in word_index.items():
    if word in model.vocab:
        vec = model[word]
        embedding_matrix[i] = vec

In [19]:
#Encoding Labels
labels = []
for news in news_data['articles']:
    labels.append(news['category'])

In [20]:
labels_dict = {'category' : labels}

In [21]:
import pandas as pd

In [22]:
labels_df = pd.DataFrame(labels_dict)

In [23]:
enc_labels = pd.get_dummies(labels_df)

In [24]:
enc_labels.head()

,category_ARTS,category_ARTS & CULTURE,category_BLACK VOICES,category_BUSINESS,category_COLLEGE,category_COMEDY,category_CRIME,category_EDUCATION,category_ENTERTAINMENT,category_FIFTY,...,category_SPORTS,category_STYLE,category_TASTE,category_TECH,category_THE WORLDPOST,category_TRAVEL,category_WEIRD NEWS,category_WOMEN,category_WORLD NEWS,category_WORLDPOST
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
enc_labels = enc_labels.values

In [28]:
#Build the model

In [125]:
from keras import Sequential
from keras.layers import Embedding,Dense,Conv1D,MaxPooling1D,Flatten,Dropout

In [187]:
model = Sequential()

In [188]:
model.add(Embedding(67585 + 1,300,weights=[embedding_matrix],input_length=40,trainable=False))

In [189]:
model.add(Conv1D(256,3,activation='relu',padding='same'))

In [190]:
model.add(MaxPooling1D(pool_size=2))

In [191]:
model.add(Conv1D(128,3,activation='relu',padding='same'))

In [192]:
model.add(MaxPooling1D(pool_size=4))

In [193]:
model.add(Flatten())

In [194]:
model.add(Dense(256,activation='relu',))

In [195]:
model.add(Dense(31,activation='softmax'))

In [196]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_15 (Embedding)     (None, 40, 300)           20275800
_________________________________________________________________
conv1d_30 (Conv1D)           (None, 40, 256)           230656
_________________________________________________________________
max_pooling1d_29 (MaxPooling (None, 20, 256)           0
_________________________________________________________________
conv1d_31 (Conv1D)           (None, 20, 128)           98432
_________________________________________________________________
max_pooling1d_30 (MaxPooling (None, 5, 128)            0
_________________________________________________________________
flatten_14 (Flatten)         (None, 640)               0
_________________________________________________________________
dense_30 (Dense)             (None, 256)               164096
_________________________________________________________________
dense_31 (Dense)             (None, 31)                7967
=================================================================
Total params: 20,776,951
Trainable params: 501,151
Non-trainable params: 20,275,800
_________________________________________________________________

In [73]:
#Train test split
from sklearn.model_selection import train_test_split

In [197]:
X_train, X_test, y_train, y_test = train_test_split(X_data, enc_labels, test_size=0.3, random_state=44)

In [45]:
#Training and Testing

In [198]:
model.compile(loss='categorical_crossentropy',
              optimizer='adadelta',
              metrics=['accuracy'])

In [199]:
model.fit(X_train, y_train, validation_data=(X_test, y_test),
          epochs=3, batch_size=50)

Train on 87492 samples, validate on 37497 samples
Epoch 1/3
87492/87492 [==============================] - 59s 672us/step - loss: 1.7206 - acc: 0.5223 - val_loss: 1.4541 - val_acc: 0.5813
Epoch 2/3
87492/87492 [==============================] - 57s 657us/step - loss: 1.2978 - acc: 0.6213 - val_loss: 1.3996 - val_acc: 0.5977
Epoch 3/3
87492/87492 [==============================] - 57s 656us/step - loss: 1.0864 - acc: 0.6731 - val_loss: 1.4002 - val_acc: 0.6020